@import url("https://fonts.googleapis.com/css2?family=Noto%20Serif&display=swap");

#routeGallery img {
    width: 100%;
    height: 100%;
}

td > i {
    font-size: 2.25em;
}

#visualisation {
    padding-top: 50px;
}

.routeDescription {
    text-align: center;
    padding-top: 2em;
    padding-right: 4.3em;
    grid-column: 2/4;
    grid-row: 2;
}

.itineraryStyle {
    margin-top: 3em;
    margin-right: 2em;
    margin-left: 4em;
    font-family: "Noto Serif", serif;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.5);
}

.routeGallery {
    padding: 4em;
    margin: 10em auto 10em;
    display: flow;
    justify-content: center;
    max-width: 40em;
    max-height: 25em;
}

.routeAside {
    width: 30%;
    padding-left: 15px;
    padding-right: 30px;
    float: left;
    margin-right: 2em;
}

.routeBriefInfo {
    background-color: darkgrey;
}

.iconBackground {
    background-color: darkgrey;
    padding: 0.3em;
}

.loadingMessage {
    margin-top: 9em;
    color: white;
    font-weight: bold;
    margin-bottom: 5em;
    font-size: x-large;
}