.allPictures {
    margin-top: 8em;
}

.allPictures > h2 {
    padding-top: 35px;
    /*margin: 3em;*/
    margin-left: 2em;
    margin-right: 2em;

}

.pictureCard {
    /*width: 18rem;
    height: 25rem;*/
}

.addPictureSection {
    margin-top: 3em;
}