.mainForm {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding: 10px 30px;
    border-radius: 20px;
}

.signupForFree {
    color: white;
}

.loginPageContainer {
    font-size: medium;
    margin: 0 auto;
    padding-top: 125px;
}