.profileImage {
    width: 150px;
    height: 150px;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
    vertical-align: middle;
    border-radius: 50%;
}

.card {
    margin: 25px 50px 75px 100px;
    width: 18rem;
}

div.card {
    opacity: 0.5;
}

.allUsersSection {
    margin-top: 10em;
    margin-bottom: 9em;
}
