.profileImageMe {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
}

.userProfileSection {
    margin-top: 10em;
    margin-bottom: 4em;
    margin-right: 3em;
}

.profileCard {
    width: 18rem;
}